client/node_modules
client/scripts/flow/*/.flowconfig
client/.flowconfig
server/node_modules
server/.env
*~
client/*.pyc
client/.grunt
client/_SpecRunner.html
client/__benchmarks__
client/build/
client/build2/
client/remote-repo/
client/.module-cache
client/fixtures/dom/public/react-dom.js
client/fixtures/dom/public/react.js
client/test/the-files-to-test.generated.js
*.log*
client/chrome-user-data
client/*.sublime-project
client/*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
