/* RESET START */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5 ,
h6 ,
p,
ul ,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* END RESET DEFAULT BROWSER CSS */

@import url('Fonts.css');
html {
    font-family: IRANSans,serif;
}

body {
    font-family: IRANSans !important;
    font-weight: 300;
    background: #f5f5f5;
}

html, body { height: 100%; width: 100%; margin: 0; }


h1, h2, h3, h4, h5, h6, input, textarea {
    font-family: IRANSans !important;
}

h1 {
    font-weight: bold;
}

ul li {
    list-style: none;
}

.white {
    color: #fff;
}

::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border: 2.6px solid #FFEE58;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
}
::-webkit-scrollbar-track{
    background: #F0F0F0;
    border: 10px solid #512DA8;
    border-radius: 5px;
    box-shadow: inset -0.5px 0px 1px 0px #F0F0F0;
}

.p4   {padding: 4px !important; }
.p6   {padding: 6px !important; }
.p8   {padding: 8px !important;}
.p12  {padding: 12px !important;}
.pb4  {padding-bottom: 4px !important;}
.pb6  {padding-bottom: 6px !important;}
.pb8  {padding-bottom: 8px !important;}
.pb12 {padding-bottom: 12px !important;}
.pt4  {padding-top: 4px !important;}
.pt6  {padding-top: 6px !important;}
.pt8  {padding-top: 8px !important;}
.pt12 {padding-top: 12px !important;}
.pr4  {padding-right: 4px !important;}
.pr6  {padding-right: 6px !important;}
.pr8  {padding-right: 8px !important;}
.pr12 {padding-right: 12px !important;}
.pl4  {padding-left: 4px !important;}
.pl6  {padding-left: 6px !important;}
.pl8  {padding-left: 8px !important;}
.pl12 {padding-left: 12px !important;}

