@charset "utf-8";

// customize bulma variables 
$primary: #6200EA;
$light: #f0f0f0; 
$tabs-link-color: $primary;
$tabs-link-hover-border-bottom-color: #ffdd57;
$tabs-link-hover-color: #ffdd57;
$tabs-link-active-border-bottom-color: #ffdd57;
$tabs-link-active-color: #ffdd57;
  
$rtl: true;

html {
  direction: rtl;
}

@import "../../node_modules/bulma/bulma.sass";


@font-face {  
    font-family: "iran"; 
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/IRANSans.svg") format("svg"),
      url("../fonts/IRANSans.eot") format("eot"),
      url("../fonts/IRANSans.woff") format("woff");
  }
  
  @font-face {
    font-family: "iran";
    font-style: normal;
    font-weight: lighter;
    src: url("../fonts/IRANSans_Light.svg") format("svg"),
      url("../fonts/IRANSans_Light.eot") format("eot"),
      url("../fonts/IRANSans_Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "iran";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/IRANSans_Bold.svg") format("svg"),
      url("../fonts/IRANSans_Bold.eot") format("eot"),
      url("../fonts/IRANSans_Bold.woff") format("woff");
  }
  
  html {
    font-family: "iran";
  }  
   
  button , input , textarea , select , option {
    font-family: "iran";
  }

  html, body{
    height:100%;
  }

  body {
    font-family: "iran";
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  } 
  
  button {
    transition: .2s all ease-in-out;
  }
   
  .is-root {
    background-color: #6200EA;
    transition: .2s all ease-in-out;
    border-color: transparent;
    color: rgba(255,255,255,.9);
  }
   
  .is-root:hover {
    background-color: #7817ff;
    color: rgba(255,255,255,.9);
  }

  .m-auto {
    margin: auto !important;
  }

  .m-rl-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .m-bt-auto {
    margin-bottom: auto  !important;
    margin-left: auto  !important;
  }
  .full-width {
    width: 100%;
  } 
  
  .full-height {
    height: 100%;
  } 

  .fit-footer {
    min-height: 50vh;
  }

  .border-top-right {
    border-right: 3px !important;
    border-top: 3px !important;
    border-bottom: 0 !important;
    border-style: solid !important;
    border-color: $warning !important;
    border-left: 0 !important;
}
.border-top-left {
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-style: solid !important;
    border-color: $warning !important;
    border-left: 3px !important;
    border-top: 3px !important;
}
.border-bottom-left {
  border-right: 0 !important;
  border-bottom: 3px !important;
  border-left: 3px !important;
  border-style: solid !important;
  border-color: $warning !important;
  border-top: 0 !important;
}

.border-bottom-right {
    border-right: 3px !important;
    border-bottom: 3px !important;
    border-style: solid !important;
    border-color: $warning !important;
    border-left: 0 !important;
    border-top: 0 !important;
}

.following-box {
  width: 40%; 
}

.is-center-text {
  text-align: center;
}

#title-page {
  overflow: hidden;
}

.calendarContainer .dayPickerContainer { 
  button {
    color: #333;
  }
}
.calendarContainer .selected button, .calendarContainer .selected button:hover, .calendarContainer .selected button:active, .calendarContainer .selected button:focus {
  background-color: #6200EA;
  color: #ffffff !important;
}
.calendarContainer .dayWrapper:not(.currentMonth) button {
  opacity: 1;
}
.calendarContainer .heading > * {
  color: #6200EA;
}
.calendarContainer .dayWrapper {
  //margin: 1px;
}

.calendarContainer .dayWrapper button[disabled] {
  color: #777;
  background-color: rgb(240, 238, 238);
}

.calendarContainer .dayWrapper button {
  color: $success;
}


// ProgressBarPlus Customize 
.react-progress-bar-percent { 
  height: 2px;
  background: #ff9800;
  box-shadow: 0 0 20px #ff9800, -5px 2px 15px #ff9800;
  transition: all 200ms ease-out;
}

.react-progress-bar-spinner-icon {
  width: 20px;
  height: 20px;
  border: solid 3px transparent;
  border-top-color: #ff9800;
  border-left-color: #ff9800;
}

  @import "Header";  
  @import "Footer"; 
  @import "Register";
  